body#amamizu {
  background-color: #825190;
}
body#uotani {
  background-color: #F9717D;
}
body .container {
  width: 100%;
  padding: 4vw;
  background-image: none;
  overflow: hidden;
}

.oshinagakiBox {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding: 2vw;
  border-radius: 2vw;
  background-color: rgba(255,255,255,.7);
  text-align: center;
}


body.work001 .oshinagakiBox {
  max-width: 1200px;
}
.video_uotaniLS01 video {
  width: 100%;
  height: auto;
  max-height: 1000px;
}
h3.ttl01 {
  color: #F9717D;
  font-size: 0.8rem;
  line-height: 2;
  padding: 6vw 4vw 4vw;
}